<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Fax</title>
</head>
<body>
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-1 col-md-5">

                <img src="/assets/images/a.jpg" alt="facts">
            </div>
            <div class="col-11 col-md-7 bg-dark">
                <div class="row mt-5 ">
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <i class="uil uil-snow-flake"></i>
                    </div>
                </div>
                <div class="row mt-5 mb-4">
                    <div class="col text-light ">
                        <h1>Welcome</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2 class="text-light" >Join Fax today.</h2>
                        <h6>This website is called fax because it only shows facts </h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <a class="text-decoration-none" href="{{ path('app_register') }}"><button type="button" class="btn btn-primary btn-block rounded">Sign Up</button></a>

                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-5">
                        <a class="text-decoration-none" href="{{ path('app_login') }}"><button type="button" class="btn btn-secondary btn-block rounded">Login</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>